footer {
    #footer-background {
        z-index: 10;
        width: 100vw;
        height: $footer-height;
        filter: $large-shadow-drop-shadow;
    }

    
    .background {
        width: 100vw;
        filter: $large-shadow-drop-shadow;

        >* {
            width: 100%;
            background: $dark-gradient;
            background-attachment: fixed;
        }

        .background-waves {
            height: $wave-height;
            clip-path: url(#waves-bottom-clip-mobile);
            @include display-medium {
                clip-path: url(#waves-bottom-clip);
            }
        }

        .background-fill {
            height: 20rem;
        }
    }

    position: relative;
    margin-top: -$wave-height;
    z-index: 20;

    .content {
        z-index: 100;
        position: absolute;
        top: $wave-height - 5rem;
        width: 100vw;

        h1 {
            color: $text-primary-title;
            text-shadow: $large-shadow;
        }

        p {
            color: $text-primary;
            font-weight: 400;
        }

        .footer-grid {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            gap: 1rem;

            flex-direction: row;

            @include display-small {
                flex-direction: column;
            }

            .column {
                display: flex;
                flex-direction: column;

                hr {
                    max-width: 100px;
                    width: 100%;
                    border-top: 1px solid $divider;
                    border-right: none;
                    border-bottom: none;
                    border-left: none;
                }

                &.text {
                    gap: 0.5rem;
                }

                &.links {
                    gap: 1rem;

                    a {
                        display: inline-flex;
                        align-items: center;
                        gap: 0.5rem;
                        color: $text-primary;
                        text-decoration: none;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}