footer {
    #footer-background {
        z-index: 10;
        width: 100vw;
        height: $footer-height;
        filter: $large-shadow-drop-shadow;
    }

    
    .background {
        width: 100vw;
        filter: $large-shadow-drop-shadow;

        >* {
            width: 100%;
            background: $dark-gradient;
            background-attachment: fixed;
        }

        .background-waves {
            height: 20rem;
            clip-path: url(#waves-bottom-clip);
        }

        .background-fill {
            height: 20rem;
        }
    }

    position: relative;
    margin-top: -$wave-height;
    z-index: 20;

    .content {
        z-index: 100;
        position: absolute;
        top: $wave-height;
        width: 100vw;

        h1 {
            color: $text-primary-title;
            text-shadow: $large-shadow;
        }

        p {
            color: $text-primary;
            font-weight: 400;
        }

        .adaptive-grid {
            width: 100%;
            .column {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                a {
                    display: inline-flex;
                    align-items: center;
                    gap: 0.5rem;
                    color: $text-primary;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}