#hero {
    #hero-background {
        z-index: 10;
        width: 100vw;
        height: 100vh + $wave-height;
        filter: $large-shadow-drop-shadow;
    }

    z-index: 20;

    .content {
        z-index: 100;
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100% - $wave-height);

        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;

        h1 {
            color: $text-primary-title;
            font-size: 4rem;
            text-shadow: $large-shadow;
        }

        h2 {
            color: $text-primary;
            font-size: 1.75rem;
            font-weight: 400;
        }

        .logo {
            position: relative;
            width: 8rem;
            height: 8rem;
            margin-bottom: 1rem;

            border-radius: $logo-border-radius;
            box-shadow: $large-shadow;

            .foreground,
            .background {
                width: 100%;
                position: absolute;
                border-radius: $logo-border-radius;
            }
        }

        .buttons {
            margin-top: 1rem;
        }

        .screenshot {
            position: absolute;
            right: 0;

            img {
                height: 60vh;
                border-radius: $border-radius;
                box-shadow: $large-shadow;
            }
        }
    }
}
