section>.content,
footer>.content {
    max-width: 1200px;
    width: 100%;

    @include display-small {
        padding: 0 $small-side-padding;
    }

    padding: 0 $side-padding;

}

section,
footer {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.adaptive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 2rem 0;
}