.content {
    max-width: 1200px;
    // margin: 0 auto;
    width: 100%;
}

section, footer {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.adaptive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 2rem 0;
}