
// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(max-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";

@mixin display-small {
    @media #{$mq-small} {
        @content;
    }
}
@mixin display-medium {
    @media #{$mq-medium} {
        @content;
    }
}
@mixin display-large {
    @media #{$mq-large} {
        @content;
    }
}
@mixin display-xlarge {
    @media #{$mq-xlarge} {
        @content;
    }
}
@mixin display-xxlarge {
    @media #{$mq-xxlarge} {
        @content;
    }
}