$text-primary-title: #e4b5ff;
$text-primary: #e2b3ff;

$primary: #aa00f1;
$on-primary: #ffffff;

$divider: rgba(226, 179, 255, 0.25);

$dark-one: #1A131F;
$dark-two: #0F041B;
$dark-gradient: linear-gradient(135deg, $dark-one, $dark-two);

$large-shadow: 0px 5.1px 4.3px rgba(0, 0, 0, 0.042), 0px 14.1px 11.8px rgba(0, 0, 0, 0.06),
    0px 34.1px 28.3px rgba(0, 0, 0, 0.078), 0px 113px 94px rgba(0, 0, 0, 0.12);

$large-shadow-drop-shadow: drop-shadow(0px 5.1px 4.3px rgba(0, 0, 0, 0.042)) drop-shadow(0px 14.1px 11.8px rgba(0, 0, 0, 0.06)) drop-shadow(0px 34.1px 28.3px rgba(0, 0, 0, 0.078)) drop-shadow(0px 113px 94px rgba(0, 0, 0, 0.12));

$wave-height: 20rem;
$footer-height: 35vh;

$logo-border-radius: 2rem;
$border-radius: 1rem;


$small-side-padding: 1rem;
$side-padding: 2rem;